/* 
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------------ HEAD ------------------------------------------ */

a {
    text-decoration: none;
}

header {
    background-color: #EAC926;
    width: 100%;
    padding-bottom: 3px;
}

img.logoHeader{
    width: 45vw;
    margin-top: 20px;
    height: auto;
    margin-left: 10px;
}

input{
    margin-top: 10px;
}
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}


div.top-header{
    display: flex;
}
.header-title {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 15px;
}

ul{
    margin-top: 15px;
}

li a {
    color: black;
    font-size: 12px;
}

.burger-menu {
    width: 40px;
    height: 40px;
    margin: 10px auto;
    background-color: #1259c3;
    border-radius: 8px;
}

.fa-bars {
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-left: 9px;
    margin-top: 7px;
}
body{
    background-color: #ebebeb;
}
.home-banner img{
    width: 100%;
}

/* ------------------------------------------ BODY ------------------------------------------*/
main{
    width: 90vw;
    margin:auto;
    text-align: center;
}


form.register{
    padding: 5px;
    margin-top: 10px;
}

.search-field {
    width: 35vw;
    padding: 5px 30px 5px 5px;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-left: 4vw;
}
  
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}
  
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.search-bar{
    margin-top: 15px;
}
/*LOGIN*/
form.login{
    padding: 5px;
    margin-top: 10px;
}

input.login{
    margin-right: 10%;
    margin-left: 10%;
    
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;

    width: 40vw;
}
button.enviar{
margin-top: 2%;
padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;

    width: 40vw;
}
.enviar:hover{
    background-color: #0022AA;
} 

/* REGISTER*/
.input-register{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;

    width: 40vw;
}
button.send{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    margin-top: 10px;
    width: 40vw;
}
button.reset{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    margin-top: 10px;
    width: 40vw;
}
input.date{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    margin-top: 10px;
    width: 40vw;
}
.reset:hover{
    background-color:rgb(248, 40, 40);
}
.send:hover{
    background-color: #0022AA;
}
div.datos-personales label{
    display:block;
    margin-top: 20px;
}

div.perfil-usuario{
    margin-top: 20px;
    margin-bottom: 20px;
}

div.intereses{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
input#photo{
    margin-bottom: 20px;
}
div.Foto label{
    display:block;
}
------------------------------------ FOOTER ------------------------------------------ */

footer{
    margin-top: 25px;
    text-align: center;
}

.footer-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 2em;
    text-align: center;
    color: #1259c3;
    margin-bottom: 10px;
    margin-top: 20px;
}

p{
    font-size: 12px;
    text-align: center;
}

.copyright{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    text-align: center;
    font-size: 10px;
}

footer section h3{
    font-size: 16px;
    text-align: center;
}

label{
    font-size: 20px;
}


/* ------------------------- BREAKPOINTS - MEDIA QUERIES --------------------*/
/* MOBILE */
@media (max-width: 360px){
   
    nav {
        display: none;
    }
        .header-title{
        display: none;
        }
}

/* TABLETS */
@media (min-width: 361px){
    div.top-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
    article{
               width: 40vw;
    }
    .burger-menu{
        display: none;
    }
    .products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .lista1 {
        display: flex;
        justify-content: flex-start;
        justify-content: space-around;
        margin-left: 10px;
        list-style-type: none;
    }
    
    .lista2 {
        display: flex;
        margin-right: 10px;
        list-style-type: none; 
    }
    li a{
        font-size: 14px
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    .products{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }
    img.logoHeader{
        width: 25vw;
        margin-top: 3%;
    }
    .search-field {
        width: 30vw;
        padding: 5px 30px 5px 5px;
        border: none;
        border-radius: 100px;
        outline: none;
        margin-top: 10%;
    }
    h3.header-title{
        margin-top: 5%;
        width: 30%;
        font-size: 18px;
    }
    nav{
        margin-top: 1%;
        margin-bottom: 1%
    }
    .nav-buttons1{
        margin-right: 8px;
       
    }
    .nav-buttons2{
        width: 15vw;
        display: flex;
        justify-content: center;
    }
    li.nav-buttons2 a{
        margin-right: 3%;
    }
    .fa-id-card{
        margin-bottom: 3%;
    }
    .fa-right-to-bracket{
        margin-bottom: 3%;
    }
    .fa-basket-shopping{
         margin-bottom: 3%;
    }
}


/* DESKTOP */
@media (min-width: 769px){
    article{
        width: 20vw;
    }
    
    footer i:hover{
        color: grey;
    }

    footer section{
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 80vw;
    }
    p{
        margin-top: 1%;
    }

    .footer-article{
        padding: 40px;
    }


}

